
.DS_Store            
Thumbs.db            
.idea/
.vscode/             
*.sublime-workspace  
*.sublime-project    

venv/ 
myenv/ 
env/
.env/
.venv/
.myenv/

*.pyc 
*.pyo 
__pycache__/         

*.log 
*.pot 
*.pyc 

.env
*.env

.cache/

instance/
*.db
*.log

*.docker

test.db